:root{
    --main-bg-color:rgb(24,24,24); 
    --bg-bloc:rgb(33,37,41);
    --blue-base: rgb(0, 157, 248);
    --blue-hover:rgb(139, 212, 255);
}

html {
	scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

h1{
    color:var(--blue-base);
    font-size: 80px;
    transition: color 1s;
}


h1:hover{
    color: var(--blue-hover);
}

h2{
    color:var(--blue-base);
}

body{
    font-size: 20px;
    margin: 0%;
    color: white;
    background-color: var(--main-bg-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#barTop{
    z-index: 1;
    background-color: var(--bg-bloc);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    width: 100%;
    position: fixed;
    /*box-shadow: 0px 10px 50px rgb(0, 0, 0,0.5);*/
}

#barTop h1{
    padding: 20px;
    font-size: 50px;
    transition: rotate 1s, color 0.5s;
}

#barTop h1:hover{
    
    rotate: -10deg;
    color: white;
}

#main{
    padding-top: 9em;
    margin-bottom: 10em;
    width: 80%;
    margin-left: 10%;
}

a{
    color: white;
    text-decoration: none;
}

#button-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button{
    font-size: 25px;
    width: 170px;
    height: 65px;
    background: none;
    border: 2px solid;
    color: var(--blue-base);
    border-color: var(--blue-base);
    border-radius: 90px;
    margin-right: 10px;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

button:hover{
    color: var(--main-bg-color);
    border-color: var(--blue-base);
    background-color: var(--blue-base);
}

#presentation h1{
    margin: 0;
    margin-bottom: 20px;
}

#presentation>div{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

#presentation > img{
    max-width: 15em;
    border-radius: 15px;
    transition: rotate 0.6s;
}

#presentation > img:hover{
    rotate: 3deg;
}

.bloc{
    display: flex;
    margin-top: 30px;
    border-radius: 15px;
    background-color: var(--bg-bloc);
    
}

.bloc>*{
    margin: 20px;
}

.all-p{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3%;
}

.project{
    background-color: var(--bg-bloc);
    color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    border-radius: 15px;
    text-decoration: none;
    transition: opacity 2s, transform 0.2s;
    margin-bottom: 3%;
}
.project img{
    border-radius: 15px;
    width: 250px;
    height: 250px;
}

.project>.hide{
    font-size: 16px;
    position: absolute;
    height: 240px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    transition: color 0.2s;
}

.project> p{
    color: rgba(255, 255, 255, 1);
}

.project:hover {
    transform: scale(1.05);
    color: rgba(255, 255, 255, 1.5);
}

.project>img{
    transition: opacity 0.2s;
}

.project:hover img{
    opacity: 10%;
}

.genres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.genres p{
    text-align: center;
    margin-right: 10px;
    padding: 10px;
    border: solid 2px var(--blue-base);
    color: var(--blue-base);
    border-radius: 30px;
}

.genres p:hover{
    color: var(--blue-hover);
    border-color: var(--blue-hover);
}

i:hover{
    transition: rotate 2s;
    rotate: 360deg;
}

#sommaire li{
    font-size: 25px;
    padding-top: 20px;
    transition: transform 0.2s, color 0.2s;
}

#sommaire li:hover, #sommaire a:hover{
    transform: scale(1.1);
    color:var(--blue-base)
}

.img-contact img{
    transition: transform 0.2s;
}

.img-contact img:hover{
    transform: scale(0.8);
}

.suppr-tel{
    display: none;
}

@media (max-width: 992px){

    body{
        font-size: 16px;
    }

    h1{
        color:rgb(0, 157, 248);
        font-size: 50px;
    }

    #presentation{
        display: flex;
    }

    #presentation>img{
        display: none;
    }

    .suppr-tel{
        display: block;
        width: 100%;
        border-radius: 15px;
    }

    .suppr-ordi{
        display: none;
    }

    #button-bar{
        width: 100%;
    }

    /* Burger*/
    
    #wrap {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        transition: background-color 0.5s;
        z-index: 2;
    }
    
    #wrap:not(:target) {
        position: fixed;
        width: 100%;
    }
    
    #wrap:target {
        position: fixed;
        background-color:var(--bg-bloc);
        width: 100%;
    }

    .b{
        padding: 20px;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 4;
    }

    .b>*{
        padding: 10px;
    }

    #wrap:not(:target)>.b {
        display: none;
    }

    #wrap>a{
        z-index: 5;
    }
    
    #open,
    #close {
        height: 44px;
        text-align: right;
        display: block;
        
    }
    
    #wrap:target #open,
    #wrap:not(:target) #close {
        display: none;
    }
    
    #wrap:target #open {
        display: none;
    }
    /*Fin Burger*/
    
}