:root{
    --main-bg-color:rgb(24,24,24); 
    --bg-bloc:rgb(33,37,41);
    --blue-base: rgb(0, 157, 248);
    --blue-hover:rgb(139, 212, 255);
}

h1{
    color:var(--blue-base);
    font-size: 80px;
    transition: color 1s;
}

h1:hover{
    color: var(--blue-hover);
}

h2{
    color:var(--blue-base);
}

body{
    font-size: 20px;
}

#barTop{
    padding: 2em;
}

#main{
    margin-top: 10em;
    margin-bottom: 10em;
    width: 80%;
    margin-left: 10%;
}


#presentation > img{
    max-width: 25%;
    border-radius: 15px;
    transition-duration: 0.5s,0.5s;
}

.bloc{
    display: flex;
    margin-bottom: 3%;
    border-radius: 15px;
    background-color: var(--bg-bloc);
    
}

.bloc>*{
    margin: 20px;
}

.bg-color { background-color: var(--main-bg-color) }

.suppr-tel{
    display: none;
}

.all-p{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3%;
}

.project{
    background-color: var(--bg-bloc);
    color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    border-radius: 15px;
    text-decoration: none;
    transition: opacity 2s, transform 0.2s;
    margin-bottom: 3%;
}
.project img{
    border-radius: 15px;
    width: 250px;
    height: 250px;
}

.project>.hide{
    font-size: 16px;
    position: absolute;
    height: 240px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    transition: color 0.2s;
}

.project> p{
    color: rgba(255, 255, 255, 1);
}

.project:hover {
    transform: scale(1.05);
    color: rgba(255, 255, 255, 1.5);
}

.project>img{
    transition: opacity 0.2s;
}

.project:hover img{
    opacity: 10%;
}

i:hover{
    transition: rotate 2s;
    rotate: 360deg;
}

#sommaire a{
    color: white;
    text-decoration: none;
}

#sommaire li{
    font-size: 25px;
    padding-top: 20px;
    transition: transform 0.2s, color 0.2s;
}

#sommaire li:hover, #sommaire a:hover{
    transform: scale(1.1);
    color:var(--blue-base)
}

@media (max-width: 992px){

    body{
        font-size: 16px;
    }

    h1{
        color:rgb(0, 157, 248);
        font-size: 50px;
    }

    #presentation{
        display: none;
    }

    #presentation>img{
        display: none;
    }

    .suppr-tel{
        display: block;
    }
}